.about-graphic-container {
  position: relative;
  height: 100vh;
  z-index: -1;
}

#about-container .box {
  position: absolute;
  width: 280px;
  height: 280px;
  background: rgba(0, 255, 195, 0.627);
  border-radius: 50%;
  filter: blur(20px);
  transition: 2s;
}