.profile-img {
  width: 400px;
  margin-right: 50px;
  border-radius: 20px;
}

.about-header {
  display: flex;
  margin-top: 100px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-main {
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.first-title {
  font-size: 30px;
  font-weight: 700;
  height: 30px;
  color: orange;
}
.sec-title {
  font-size: 50px;
  font-weight: 900;
}

.about-sub {
  font-size: 15px;
  margin-bottom: 20px;
  font-style: italic;
  .highlight {
    font-weight: 700;
  }
}

.about-text-long {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to right, #ffc96594, #7cffcd70);
  padding: 20px;
  border-radius: 20px;
}

.highlight {
  font-size: larger;
  font-weight: 700;
  font-style: italic;
  text-decoration: underline;
}

.buttons {
  cursor: pointer;
  .mail {
    margin-right: 10px;
    width: 41px;
  }
  
  .LinkedIn {
    margin-right: 10px;
    width: 39px;
  }
  
  .Github {
    width: 46px;
    height: 45px;
  }
}