.interest-container {
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
  margin-top: 200px;
}

.interest {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.interest-title {
  font-size: 35px;
  font-weight: 800;
}
.interest-asset {
  display: flex;
  flex-direction: column;
}

.interest-asset-title {
  margin: 30px 0 30px 0;
  font-weight: 700;
}

@media only screen and (max-width: 890px) {
  .interest-container {
    margin-top: 100px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .interest {
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
    }
    .interest-title {
      font-size: 25px;
      font-weight: 800;
      margin-top: 30px;
    }
    .interest-asset {
      width: 100%;
      margin-bottom: 25px;
    }
    .interest-asset-title {
      display: flex;
      flex-direction: column;
      margin: 30px 0 10px 0;
      font-weight: 700;
    }
  }
}