.interest {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.interest-title {
  margin: 30px 0 30px 0;
  font-weight: 700;
}


.interest-container {
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px;
}