.card-indivisual {
  display: flex;
  flex-wrap: wrap;
  margin: 0 25px 30px 25px;
}

.card-date {
  margin-bottom: 5px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.card-img {
  height: 160px;
  cursor: pointer;
}

.card-text-box {
  width: 18rem;
  margin: 20px 0px 15px 0px;
}

.card-text-body {
  height: 15rem;
}

.stack-container {
  display: flex;
  margin: 0 10px 50px 0;

  .stack-badge {
    margin-right: 5px;
    color: white;
    background: rgb(226, 190, 251);
    border-radius: 20px;
    padding: 0 5px;
    font-size: 13px;
  }
}