.single-title {
  @extend %flex-center;
  flex-direction: column;
}

.wireframe, .overview, .description {
  margin-bottom: 90px;
  .single-img {
    margin-bottom: 30px;
  }
}
.single-img {
  max-width: 80%;
  max-height: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(157, 157, 157, 0.5);
}

.link {
  font-size: 15px;
  color: grey;
  text-decoration: none;
}

.text-vh {
  height: 15vh;
}

.single-sub-title {
  font-weight: 700;
  margin-bottom: 20px;
}